Oracle/soa/POC-BPEL/Project1/CustomerMasterService.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- 
	Release version 3.0
	Release Date 2015.06.08
	Customer Master Service Generated by FusionWare Co.,Ltd.
-->
<definitions
     name="CustomerMasterService"
     targetNamespace="http://fusionware.co.th/bdms/bpx/customerMasterService"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:tns="http://fusionware.co.th/bdms/bpx/customerMasterService"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:version="1.0"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://fusionware.co.th/bdms/bpx/customerMasterService" schemaLocation="CustomerMasterService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="insertCustomerMasterCredit">
        <part name="parameters" element="tns:insertCustomerMasterCredit"/>
    </message>
    <message name="insertCustomerMasterCreditResponse">
        <part name="parameters" element="tns:insertCustomerMasterCreditResponse"/>
    </message>
    <message name="updateCustomerMasterCredit">
        <part name="parameters" element="tns:updateCustomerMasterCredit"/>
    </message>
    <message name="updateCustomerMasterCreditResponse">
        <part name="parameters" element="tns:updateCustomerMasterCreditResponse"/>
    </message>
    <message name="inactiveCustomerMasterCredit">
        <part name="parameters" element="tns:inactiveCustomerMasterCredit"/>
    </message>
    <message name="inactiveCustomerMasterCreditResponse">
        <part name="parameters" element="tns:inactiveCustomerMasterCreditResponse"/>
    </message>
    <message name="retrieveCustomerMasterCredit">
        <part name="parameters" element="tns:retrieveCustomerMasterCredit"/>
    </message>
    <message name="retrieveCustomerMasterCreditResponse">
        <part name="parameters" element="tns:retrieveCustomerMasterCreditResponse"/>
    </message>
    <portType name="CustomerMasterService">
        <operation name="insertCustomerMasterCredit">
            <input message="tns:insertCustomerMasterCredit" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/insertCustomerMasterCreditRequest"/>
            <output message="tns:insertCustomerMasterCreditResponse" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/insertCustomerMasterCreditResponse"/>
        </operation>
        <operation name="updateCustomerMasterCredit">
            <input message="tns:updateCustomerMasterCredit" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/updateCustomerMasterCreditRequest"/>
            <output message="tns:updateCustomerMasterCreditResponse" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/updateCustomerMasterCreditResponse"/>
        </operation>
        <operation name="inactiveCustomerMasterCredit">
            <input message="tns:inactiveCustomerMasterCredit" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/inactiveCustomerMasterCreditRequest"/>
            <output message="tns:inactiveCustomerMasterCreditResponse" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/inactiveCustomerMasterCreditResponse"/>
        </operation>
        <operation name="retrieveCustomerMasterCredit">
            <input message="tns:retrieveCustomerMasterCredit" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/retrieveCustomerMasterCreditRequest"/>
            <output message="tns:retrieveCustomerMasterCreditResponse" wsam:Action="http://fusionware.co.th/bdms/bpx/customerMasterService/CustomerMasterService/retrieveCustomerMasterCreditResponse"/>
        </operation>
    </portType>
    <binding name="CustomerMasterServicePortBinding" type="tns:CustomerMasterService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="insertCustomerMasterCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateCustomerMasterCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="inactiveCustomerMasterCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="retrieveCustomerMasterCredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CustomerMasterService">
        <port name="CustomerMasterServicePort" binding="tns:CustomerMasterServicePortBinding">
            <soap:address location="http://dc-soa-devwebapp:8011/bpx/r2c/CustomerMasterService"/>
        </port>
    </service>
</definitions>
